<?xml version="1.0"?>
<robot name="wall_plain"
       xmlns:xacro="http://ros.org/wiki/xacro">

  <link name="wall_plain" >
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
	<mesh filename="package://hydra/models/walls/wall_plain/wall_plain.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
	<mesh filename="package://hydra/models/walls/wall_plain/wall_plain.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="5.29" />
      <inertia ixx="0.01" ixy="0.005" ixz="0.0003" iyy="0.02" iyz="0.00004" izz="0.02" />
    </inertial>
  </link>

</robot>
